* {
  box-sizing: border-box;
  padding : 0;
  margin : 0;
}
/* setclassi */
.flex {
  display: flex;
}

.hide {
  display: none;
}


/*/ setclassi */


/* colore sfondo pagina */
/* * {
  background-color: #d9dbd3;
} */
.big_container {
  position: relative;
}

/* bara verde sfondo */
.green_sfondo {
  width: 100%;
  height: 100px;
  background-color: #009688;
}
/* bara verde sfondo */
/* sfondo */
.sfondo_pagina {
  background-color: #d9dbd3;
  height: calc(100vh - 100px);
  width: 100%;
}
/* /sfondo */

/* containerapplicazione */
.container_app {
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
width: 80%;
height: calc(100vh - 40px);
}
/* /containerapplicazione */

/* colonna sinistra */
.colonna_sinistra {
  background-color: lightblue;
  width: 30%;
  height: 100%;
}
/*/ colonna sinistra */

/* solonna destra */
.colonna_destra {
  width: 70%;
  height: 100%;
}
/*/ solonna destra */

/* colonna sinistra */
/* div img e info profilo */
.first_box_sinistra {
  width: 100%;
  height: 45px;
  background-color: #eaeaea;
  border-right: 1px solid grey;
  justify-content: space-between;
}

/* img profilo personale */
.box_img_profilo {
  width: 20%;
  height: 100%;
  text-align: center;
  padding-top: 5px;
  background-color: #eaeaea;
}

.img_profilo {
  max-width: 35px;
  border-radius: 50px;
  line-height: 45px;
}
/* /img profilo personale */

/* icone primo boc sinistra */
.icon_box_profilo {
  width: 30%;
  height: 100%;
}

.icon_box_profilo ul {
  background-color: #eaeaea;

}

.icon_box_profilo ul li {
  width: 30%;
  display:inline-block;
  line-height: 45px;
  text-align: center;
  padding: 0 5px;
  background-color: #eaeaea;
  color: grey;
}

.icon_box_profilo ul li i {
  background-color: #eaeaea;
}
/*/ icone primo boc sinistra */


/* div img e info profilo */

/* ricevi notifiche */
.second_box_sinistra {
  width: 100%;
  height: 55px;
  background-color: #8edafc;
  padding: 10px 10px;
}

.second_box_sinistra i {
  font-size: 13px;
  background-color: #fff;
  color: #8edafc;
  border-radius: 50px;
  padding: 10px;
  display: inline;
}

.second_box_sinistra div .notifiche {
  padding: 0px 5px;
  line-height: 55px;
  background-color: #8edafc;
}

 div .notifiche p {
  background-color: #8edafc;
  padding: 0 5px;
}

 div p.primo {
  font-size: 13px;
  color: #436777;
}

 div p.secondo {
  text-decoration: underline;
  font-size: 10px;
  background-color: #8edafc;
  height: 77%;
  color:#6ca3bc;
}

/* / ricevi notifiche */

/* search */
.third_box_sinistra  {
  width: 100%;
  height: 35px;
  background-color: #fff;
}

/* icona lente */
.third_box_sinistra .lente {
  width: 13%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  line-height: 35px;
}

.third_box_sinistra .lente i {
  color: lightgrey;
  background-color: #fff;
  font-size: 13px;
}

.third_box_sinistra .lente_text {
  width: 87%;
  height: 100%;
  line-height: 35px;
}

.third_box_sinistra .lente_text p {
  font-size: 10px;
  background-color: #fff;
  color: lightgrey;
}
/* /icona lente */
/*/ search */

/* box profili utenti */
.fourth_box_sinistra {
  width: 100%;
  height:calc(100% - 135px);
  background-color: #fff;
  overflow-y: scroll;
}
/* info utente risposta */
.profilo_amici {
  width: 100%;
  background-color: #fff;
  height: 45px;
  padding: 5px;
  align-items: center;
  border: 1px solid black;
}

.profilo_amici.active {
  background-color:  lightgrey;
}

.img_amici {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.nomi_amici {
  margin-left: 10px;
}

.nomi_amici h3{
  text-transform: capitalize;
  font-size: 13px;
}

.nomi_amici p{
  font-size: 10px;
}
/* info utente risposta */


/*/ box profili utenti  */

/*/ colonna sinistra */

/* colonna destra */
/* div nome utente */
.first_box_destra {
  width: 100%;
  height: 45px;
  background-color: #eaeaea;
  justify-content: space-between;
}

/* img utante risposta e nome*/
.box_destra_up {
  width: 30%;
  height: 45px;
  background-color: #eaeaea;
}

.box_destra_up.hide {
  display: none;
}

div.notifiche p.second  {
 background-color: #eaeaea;
 padding: 0 5px;
 height:50%;
}

.box_sinistra_up {
  width: 40%;
}


/*/ img utante risposta e nome*/


/* div nome utente */

/* div chat */
.second_box_destra {
  width: 100%;
  height: calc(100% - 90px);
  background-image:  url("../img/mine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
  padding: 50px 50px;
  display:none;
}

.second_box_destra.active {
  display: block;
}

.message_row, .message_row2  {
  display: flex;
  margin: 10px 0;
}

.messaggio{
  position: relative;
  max-width: 350px;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}


.orologio1 {
  font-size: 8px;
  position: absolute;
  bottom: 2px;
  right: 5px;
}

.message_row.right {
  justify-content: flex-end;
}

.message_row.right .messaggio {
  background-color: lightgreen;
}

.angle_down {
  font-size: 15px;
  color: lightgrey;
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}

.messaggio:hover .angle_down {
  display: block;
}

.menu_delete {
  white-space: nowrap;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 45px;
  left: 2px;
  background-color: #fff;
}

.menu_delete p {
  font-size: 13px;
  color: grey;
}

/* .messaggio p {
  max-width: 200px;
} */

/* div chat */

  /* <!-- div tastiera --> */
  .third_box_destra {
    width: 100%;
    height: 45px;
    background-color: #f3eeea;
  }

  /* icona smile */
  .cont_smile{
    width: 10%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    background-color: #f3eeea;

  }

  .icon_bottom {
    font-size: 20px;
    color:grey;
    background-color: #f3eeea;
  }
  /* icona smile */

  /* label input */
  .cont_input  {
    width: 80%;
    height: 100%;
    background-color: #f3eeea;
    text-align: center;
    line-height: 45px;
  }

  #text_send {
    width: 90%;
    border radius: 800px;
    background-color: #fff;
    padding: 5px 5px;
    border: 1px solid transparent;
  }


  /*/ label input */

  /* icona send input */
  .cont_send {
    width: 10%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    background-color: #f3eeea;
  }
  /* /icona send input */

  /* <!-- /div tastiera --> */
  /* /colonna destra */

/* template */
.template{
  display: none;
}
