* {
  box-sizing: border-box;
  padding : 0;
  margin : 0;
}
/* setclassi */
.flex {
  display: flex;
}
/*/ setclassi */


/* colore sfondo pagina */
/* * {
  background-color: #d9dbd3;
} */

/* bara verde sfondo */
.green_sfondo {
  width: 100%;
  height: 100px;
  background-color: #009688;
}
/* bara verde sfondo */

/* containerapplicazione */
.container_app {
  width: 80%;
  height: calc(100vh - 40px);
  margin: auto;
  margin-top: -80px;
}
/* /containerapplicazione */

/* colonna sinistra */
.colonna_sinistra {
  background-color: lightblue;
  width: 30%;
  height: 100%;
}
/*/ colonna sinistra */

/* solonna destra */
.colonna_destra {
  width: 70%;
  height: 100%;
}
/*/ solonna destra */

/* colonna sinistra */
/* div img e info profilo */
.first_box_sinistra {
  width: 100%;
  height: 45px;
  background-color: #eaeaea;
  border-right: 1px solid grey;
  justify-content: space-between;
}

/* img profilo personale */
.box_img_profilo {
  width: 20%;
  height: 100%;
  text-align: center;
  padding-top: 5px;
  background-color: #eaeaea;
}

.img_profilo {
  max-width: 35px;
  border-radius: 50px;
  line-height: 45px;
}
/* /img profilo personale */

/* icone primo boc sinistra */
.icon_box_profilo {
  width: 30%;
  height: 100%;
}

.icon_box_profilo ul {
  background-color: #eaeaea;

}

.icon_box_profilo ul li {
  width: 30%;
  display:inline-block;
  line-height: 45px;
  text-align: center;
  padding: 0 5px;
  background-color: #eaeaea;
  color: grey;
}

.icon_box_profilo ul li i {
  background-color: #eaeaea;
}
/*/ icone primo boc sinistra */


/* div img e info profilo */

/* ricevi notifiche */
.second_box_sinistra {
  width: 100%;
  height: 55px;
  background-color: #8edafc;
  padding: 10px 10px;
}

.second_box_sinistra i {
  font-size: 13px;
  background-color: #fff;
  color: #8edafc;
  border-radius: 50px;
  padding: 10px;
  display: inline;
}

.second_box_sinistra div .notifiche {
  padding: 0px 5px;
  line-height: 55px;
  background-color: #8edafc;
}

 div .notifiche p {
  background-color: #8edafc;
  padding: 0 5px;
}

 div p.primo {
  font-size: 13px;
  color: #436777;
}

 div p.secondo {
  text-decoration: underline;
  font-size: 10px;
  background-color: #8edafc;
  height: 77%;
  color:#6ca3bc;
}

/* / ricevi notifiche */

/* search */
.third_box_sinistra  {
  width: 100%;
  height: 35px;
  background-color: #fff;
}

/* icona lente */
.third_box_sinistra .lente {
  width: 13%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  line-height: 35px;
}

.third_box_sinistra .lente i {
  color: lightgrey;
  background-color: #fff;
  font-size: 13px;
}

.third_box_sinistra .lente_text {
  width: 87%;
  height: 100%;
  line-height: 35px;
}

.third_box_sinistra .lente_text p {
  font-size: 10px;
  background-color: #fff;
  color: lightgrey;
}
/* /icona lente */
/*/ search */

/* box profili utenti */
.fourth_box_sinistra {
  width: 100%;
  height:calc(100% - 135px);
  background-color: yellow;
  overflow-y: scroll;
}
/*/ box profili utenti  */

/*/ colonna sinistra */

/* colonna destra */
/* div nome utente */
.first_box_destra {
  width: 100%;
  height: 45px;
  background-color: #eaeaea;
  justify-content: space-between;
}

/* img utante risposta e nome*/
.box_destra_up {
  width: 30%;
  height: 45px;
  background-color: #eaeaea;
}

div.notifiche p.second  {
 background-color: #eaeaea;
 padding: 0 5px;
 height:50%;
}

.box_sinistra_up {
  width: 40%;
}


/*/ img utante risposta e nome*/


/* div nome utente */

/* div chat */
.second_box_destra {
  width: 100%;
  height: calc(100% - 90px);
  background-color: lightblue;
  overflow-y: scroll;
  padding: 50px 50px;
}

.message_row .messaggio  {
  max-width: 200px;
  border-radius: 30px;
  padding: 10px 10px;
  margin:20px;

}

/* .messaggio p {
  max-width: 200px;
} */

.end {
  justify-content: flex-end;
}

.green {
  background-color: green;
}

.white {
  background-color: #fff;
}
/* div chat */

  /* <!-- div tastiera --> */
  .third_box_destra {
    width: 100%;
    height: 45px;
    background-color: #f3eeea;
  }

  /* icona smile */
  .cont_smile{
    width: 10%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    background-color: #f3eeea;

  }

  .icon_bottom {
    font-size: 20px;
    color:grey;
    background-color: #f3eeea;
  }
  /* icona smile */

  /* label input */
  .cont_input  {
    width: 80%;
    height: 100%;
    background-color: #f3eeea;
    text-align: center;
    line-height: 45px;
  }

  #text_send {
    width: 90%;
    border radius: 800px;
    background-color: #fff;
    padding: 5px 5px;
    border: 1px solid transparent;
  }


  /*/ label input */

  /* icona send input */
  .cont_send {
    width: 10%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    background-color: #f3eeea;
  }
  /* /icona send input */

  /* <!-- /div tastiera --> */
  /* /colonna destra */

/
