* {
  box-sizing: border-box;
  padding : 0;
  margin : 0;
}
/* setclassi */
.flex {
  display: flex;
}
/*/ setclassi */


/* colore sfondo pagina */
* {
  background-color: #d9dbd3;
}

/* bara verde sfondo */
.green_sfondo {
  width: 100%;
  height: 100px;
  background-color: #009688;
}
/* bara verde sfondo */

/* containerapplicazione */
.container_app {
  width: 1200px;
  height: calc(100vh - 40px);
  margin: auto;
  background-color: red;;
  margin-top: -80px;
}
/* /containerapplicazione */

/* colonna sinistra */
.colonna_sinistra {
  background-color: lightblue;
  width: 30%;
  height: 100%;
}
/*/ colonna sinistra */

/* solonna destra */
.colonna_destra {
  width: 70%;
  height: 100%;
}
/*/ solonna destra */

/* div img e info profilo */
.first_box_sinistra {
  width: 100%;
  height: 45px;
  background-color: #eaeaea;
}
/* div img e info profilo */

/* ricevi notifiche */
.second_box_sinistra {
  width: 100%;
  height: 55px;
  background-color: #8edafc;
}
/* / ricevi notifiche */

/* search */
.third_box_sinistra  {
  width: 100%;
  height: 35px;
  background-color: #fff;
}
/*/ search */

/* box profili utenti */
.fourth_box_sinistra {
  width: 100%;
  height:calc(100% - 135px);
  background-color: yellow;
  overflow-y: scroll;
}
/*/ box profili utenti  */

/* div nome utente */
.first_box_destra {
  width: 100%;
  height: 45px;
  background-color: #eaeaea;
}
/* div nome utente */

/* div chat */
.second_box_destra {
  width: 100%;
  height: calc(100% - 90px);
  background-color: lightblue;
  overflow-y: scroll;
}
/* div chat */

  /* <!-- div tastiera --> */
  .third_box_destra {
    width: 100%;
    height: 45px;
    background-color: violet;
  }
  /* <!-- /div tastiera --> */
